accelerate
aiohttp
datasets
einops
fsspec
hydra-core
httpx
langchain-community
langchain-core
nltk
numpy
openai
pandas
requests
rotary-embedding-torch
rouge
scikit-learn
sentence-transformers
sentencepiece
sortedcontainers
sympy
tensorboard
torch
tqdm
transformers
vllm
